{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}

{% if articles %}
{% for article in articles_page.object_list %}



    <div class="well">
        <a href="{{ SITEURL }}/{{ article.url }}"><h2>{{ article.title }}</h2></a>
        {% include "metadata.html" %}
        <div class="summary">{{ article.summary }} <a class="btn btn-info btn-sm" href="{{ SITEURL }}/{{ article.url }}">leer mas</a></div>
    </div>




{% endfor %} {# For article #}
{% endif %} {# If articles #}

{% endblock content %}
